body{background-color: rgb(185, 182, 182);
margin:0%;
padding:0%;
}



#jouer{position:absolute;
    left:47%;
    top:45%;
width:10%;
height:10%;}


.proposition{display:flex}
.liste{line-height:10%;}
.lettres{width:3%;
    height:10%;
    }



      input{
        position:absolute;
        left:-150%;
      }
      
      label {
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        border: 1px solid #ddd;
        line-height: 50px;
        cursor: pointer
      }

      input:checked + label{background-color:blue}
.result{position:absolute;
    top:50%;
    left:48.5%;
    color:red;
font-size: 150%;}
      
.mot{position:absolute;
left:47%;
top:30%;
font-size:140%;}

.tentative{position:absolute;
right:3%;}

.lettresentrées{margin-top:1%;}


@media only screen and (min-width: 319px) and (max-width:780px) {


#jouer{width:15%;}

.mot{left:30%;}

.result{top:42%;
    left:40%;}


}
